:root {
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 

  /* LISTADO PACIENTES / PERSONAL */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .listado-list {
    max-width: 800px;
    margin: 0 auto;
  }

  .list {
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
  
  }

  .list {
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
  
  }

  .sombra {
    -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  }
  
  .list .acciones .btn:first-of-type {
    margin-right: 1rem;
  }
  .list p {
    font-size: 1.6rem;
    flex: 1;
    padding-right: 2rem;
  }
 
  .list.acciones .btn:first-of-type {
    margin-right: 1rem;
  }
  /*Jeferson*/
  .alturapdf{
    height: 600px;
  }
  .tamano{
    width: 15px;
  }
  body {
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url("./media/nice_snow.png");
  }
  .Logo{
    width: 70px;
    height: 70px;
  }
  .alineartitulo{
    align-content: center;
  }
  #sidebar-wrapper {
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
.pfacturas{
  margin-bottom: 287px;
}
.negrilla{
  font-weight: bold;
}
 
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  /* Estilos para el formulario de inicio de sesión */
  #form_login {
    max-width: 520px;
    padding: 10px 20px;
    background: #196B81;
    border-radius: 20px;
    margin: auto;
    border: 2px solid black;
  }
  
  .abs_center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .titulos_principal {
    text-align: center;
    margin-top: 1cm;
    font-family: 'Arial Black';
    font-weight: bold;
  }
  
  .inputs_login{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 95%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }

  #boton{
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #28a745;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 86%;
    border: 1px solid #28a745;
    margin-bottom: 10px;
  }
  
  #etiqueta {
    display: block;
    margin-bottom: 8px;
  }
  
  /*este css se llama desde los formularios de crear paciente y personal*/
  .boton{
    padding: 0px 39px 0px 39px;
    color: #FFF;
    background-color: #28a745;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 86%;
    border: 1px solid #28a745;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }


  /* stilos de todos los formularios de la parte de administracion*/
  .Formularios{
    width: 400px;
    min-height: auto;
    float:left;
  }

  .btnForm{
    color: #FFF;
    background-color: #28a745;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    margin-left: 10px;
    
  }
  .fondoForm{
    height: auto;
    width: 880px;
    border-radius: 20px;
  }
  .formularioservicio{
    width: 400px;
    min-height: auto;
    float:center;
  }
  .fondoFormServicio{
    height: auto;
    width: 400px;
    border-radius: 20px;
  }
  .btnFormServicio{
    color: #FFF;
    background-color: #28a745;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    margin-left: 15px;
    
  }
  .casillaesquina{
    border-bottom: 5px black;
    color: #fafafa;
    border-bottom: white 1px solid;
  }
  .casilla{
    width: auto;
    background-color: transparent;
    border: none;
    color: #fafafa;
    font: caption;
    border-bottom: white 1px solid;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .subcasilla{
    width: auto;
    background-color: #ffffff;
    opacity: 0.5;
    border: none;
    color: black;
    font: caption;
    font-style: italic;
    margin-bottom: 1px;
  }
  .menuver{ 
    min-height: 100vh;
    border: none;
    background-image: url('./media/circle-blues.png');
  }
  .navhor{
    color: #fafafa;
    border: none;
    height: 100px;
    background-image: url('./media/circle-blues.png');
    
  }