:root {
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 

  /* LISTADO PACIENTES / PERSONAL */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .listado-list {
    max-width: 800px;
    margin: 0 auto;
  }

  .list {
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
  
  }

  .list {
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
  
  }

  .sombra {
    -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  }
  
  .list .acciones .btn:first-of-type {
    margin-right: 1rem;
  }
  .list p {
    font-size: 1.6rem;
    flex: 1;
    padding-right: 2rem;
  }
 
  .list.acciones .btn:first-of-type {
    margin-right: 1rem;
  }
  /*Jeferson*/
  .alturapdf{
    height: 1000px;
  }
  .tamano{
    width: 15px;
  }
  body {
    overflow-x: hidden;
    background-image: url("./media/nice_snow.png");
  }
  .Logo{
    width: 70px;
    height: 70px;
  }
  .alineartitulo{
    align-content: center;
  }
  #sidebar-wrapper {
    height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
.pfacturas{
  margin-bottom: 287px;
}
.negrilla{
  font-weight: bold;
}
  .menuver{
    width: auto;
    background: rgba(1,95,107,1);
  background: -moz-linear-gradient(top, rgba(1,95,107,1) 0%, rgba(22,122,135,1) 14%, rgba(82,197,212,1) 53%, rgba(82,197,212,1) 76%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,95,107,1)), color-stop(14%, rgba(22,122,135,1)), color-stop(53%, rgba(82,197,212,1)), color-stop(76%, rgba(82,197,212,1)));
  background: -webkit-linear-gradient(top, rgba(1,95,107,1) 0%, rgba(22,122,135,1) 14%, rgba(82,197,212,1) 53%, rgba(82,197,212,1) 76%);
  background: -o-linear-gradient(top, rgba(1,95,107,1) 0%, rgba(22,122,135,1) 14%, rgba(82,197,212,1) 53%, rgba(82,197,212,1) 76%);
  background: -ms-linear-gradient(top, rgba(1,95,107,1) 0%, rgba(22,122,135,1) 14%, rgba(82,197,212,1) 53%, rgba(82,197,212,1) 76%);
  background: linear-gradient(to bottom, rgba(1,95,107,1) 0%, rgba(22,122,135,1) 14%, rgba(82,197,212,1) 53%, rgba(82,197,212,1) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015f6b', endColorstr='#52c5d4', GradientType=0 );
  }
  .navhor{
    -webkit-box-shadow: 0px 15px 47px 0px rgba(147,153,147,1);
    -moz-box-shadow: 0px 15px 47px 0px rgba(147,153,147,1);
    box-shadow: 0px 15px 47px 0px rgba(147,153,147,1);
    border-radius: 0px 0px 53px 53px;
    -moz-border-radius: 0px 0px 53px 53px;
    -webkit-border-radius: 0px 0px 53px 53px;
    border: 0px solid #000000;
    height: 100px;
    background: rgba(40,167,70,1);
    background: -moz-linear-gradient(top, rgba(40,167,70,1) 0%, rgba(40,167,70,0.8) 49%, rgba(40,167,69,0.73) 68%, rgba(40,167,69,0.64) 91%, rgba(40,167,69,0.62) 95%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,167,70,1)), color-stop(49%, rgba(40,167,70,0.8)), color-stop(68%, rgba(40,167,69,0.73)), color-stop(91%, rgba(40,167,69,0.64)), color-stop(95%, rgba(40,167,69,0.62)));
    background: -webkit-linear-gradient(top, rgba(40,167,70,1) 0%, rgba(40,167,70,0.8) 49%, rgba(40,167,69,0.73) 68%, rgba(40,167,69,0.64) 91%, rgba(40,167,69,0.62) 95%);
    background: -o-linear-gradient(top, rgba(40,167,70,1) 0%, rgba(40,167,70,0.8) 49%, rgba(40,167,69,0.73) 68%, rgba(40,167,69,0.64) 91%, rgba(40,167,69,0.62) 95%);
    background: -ms-linear-gradient(top, rgba(40,167,70,1) 0%, rgba(40,167,70,0.8) 49%, rgba(40,167,69,0.73) 68%, rgba(40,167,69,0.64) 91%, rgba(40,167,69,0.62) 95%);
    background: linear-gradient(to bottom, rgba(40,167,70,1) 0%, rgba(40,167,70,0.8) 49%, rgba(40,167,69,0.73) 68%, rgba(40,167,69,0.64) 91%, rgba(40,167,69,0.62) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28a746', endColorstr='#28a745', GradientType=0 );
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  /* Estilos para el formulario de inicio de sesión */
  #form_login {
    max-width: 520px;
    padding: 10px 20px;
    background: #196B81;
    border-radius: 20px;
    margin: auto;
    border: 2px solid black;
  }
  
  .abs_center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .titulos_principal {
    text-align: center;
    margin-top: 1cm;
    font-family: 'Arial Black';
    font-weight: bold;
  }
  
  .inputs_login{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 95%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }

  #boton{
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #28a745;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 86%;
    border: 1px solid #28a745;
    margin-bottom: 10px;
  }
  
  #etiqueta {
    display: block;
    margin-bottom: 8px;
  }
  
  /*este css se llama desde los formularios de crear paciente y personal*/
  .boton{
    padding: 0px 39px 0px 39px;
    color: #FFF;
    background-color: #28a745;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 86%;
    border: 1px solid #28a745;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  /*css se utiliza en el select de formulario de crear personal*/
  .selector{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 95%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }